* {
    margin: 0;
    padding: 0;
    font-family: 'Asap Condensed', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #372e29;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='139' height='139' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23726255' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}




.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(.17, .67, .83, .67);
}

.back-drop-blur {
    backdrop-filter: blur(10px);
}

.top {
    margin: 1em 0 1em 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    color: whitesmoke;
}

.top h1 {
    /* font-weight: 700; */
    font-size: 6rem;
    font-family: 'Jolly Lodger', cursive;
}

.expelled-list>h1 {
    font-size: 2rem;
    margin: 1em 0 0em 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Asap Condensed', sans-serif;
    color: black;

}

.top .count,
.top .house-count {
    display: flex;
    margin-top: 1em;
}



.top .students-count,
.top .houseCounter {
    margin-right: 1em;
}

label {
    color: white;
}

body .top {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

body .top img {
    width: 100%;
    max-width: 300px;
}

main {
    display: grid;
    justify-items: center;
}

ul {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    text-align: center;

}

.student {
    margin: 2em 1em 2em 1em;
    padding: 2em 0 2em 0;
    box-shadow: 0 1rem 2.8rem 0 rgba(0, 0, 0, .15);
    border-radius: 1rem;
    background: whitesmoke;
}

.content h1 {
    font-weight: 600;
    margin: 0 0 0 0;
    font-size: 1.5em;
    font-family: 'Jolly Lodger', cursive;
}

.content h2 {
    font-weight: 400;
    font-family: 'Jolly Lodger', cursive;
    font-size: 1.5em;
}

.fa-user,
.fa-home {
    font-size: 90% !important;
}

select {
    position: relative;
    display: inline;
    margin-right: 2vw;

}


.sorting {
    cursor: pointer;
}


.overlay {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -10;

}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-btn {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: 100%;
}

.close-btn i {
    color: #d43f3a;
    font-size: 1.8em;
    margin: .5em 0 0 1em;
    cursor: pointer;

}

.content {
    width: 100%;
}

.content h1 {
    width: 100%;
}

.hufflepuff {
    background-color: #38302c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='144' height='144' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23eeb527' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23eeb527' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.gryffindor {
    background-color: #740001;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='144' height='144' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23eeba30' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23eeba30' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.ravenclaw {
    background-color: #214ba1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='144' height='144' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23ccc7d0' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23ccc7d0' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.slytherin {
    background-color: #1a472a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='144' height='144' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%232a623d' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%232a623d' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.hufflepuff h1,
.hufflepuff h2 {
    color: #372e29;
}

.image {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1vw;
    background-repeat: no-repeat;
}


.hufflepuff .bottom {
    background: linear-gradient(65deg, #f0c75e, #ecb939);
}


.gryffindor .bottom {
    background: linear-gradient(65deg, #AE0001, #740001);
    color: #eeba30;
}

.ravenclaw .bottom {
    background: linear-gradient(65deg, #2b59b6, #214ba1);
    color: #ccc7d0;
}

.slytherin .bottom {
    background: linear-gradient(65deg, #2b623d, #194729);
    color: whitesmoke;
}

.bottom .content,
.expelled-student {
    width: 100%;
    height: 25%;
    padding: 2vw 0 2vw 2vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: left;
    align-items: center;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prefect {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.bottom img,
.expelled-student img {
    margin-right: 1em;
}

.image img {
    width: 100%;
    max-width: 180px;
    margin-top: 2em;
    margin-bottom: 2em;
}


.blur {
    filter: blur(10px);
    z-index: -100;

}

.hide {
    display: none;
}

button {
    margin-top: 1em;
    display: inline-block;
    padding: .5em 2em;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Jolly Lodger', cursive;
    font-size: 1.000001rem;
    line-height: 1;
}

.btn-danger {
    color: #d9534f;
    text-transform: uppercase;
    background: #ffffff;
    border: 4px solid #d43f3a;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    ;
}

.btn-danger:hover {
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    background: #d9534f;
    color: #ffffff;
}

.btn-read-more {
    color: #20bf6b;
    text-transform: uppercase;
    background: #ffffff;
    border: 4px solid #20bf6b;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn-read-more:hover {
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    background: #20bf6b;
    color: #ffffff;
}

.expelled-list {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 80vh;
    overflow: scroll;
    z-index: 199;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    cursor: pointer;
}

.expell-count {
    cursor: pointer;
}

.disable {
    cursor: not-allowed;
    opacity: .7;
    position: relative;
}

.disable-2 {
    cursor: not-allowed;
    opacity: .7;
    color: #353b48;
    text-transform: uppercase;
    background: #ffffff;
    border: 4px solid #2f3640;
    border-radius: 6px;
    display: inline-block;
}

.disable-3 {
    cursor: not-allowed;
    opacity: .7;
    color: #353b48;
    text-transform: uppercase;
    background: #ffffff;
    border: 4px solid #2f3640;
    border-radius: 6px;
    display: inline-block;
}



.dis-mes {
    opacity: 0;
    position: absolute;
    transform: translateX(0%) translateY(40%);
    color: black;
    z-index: 300;
    max-width: 300px;
    padding: .5em;
    background-color: whitesmoke;
    pointer-events: none;
}

.disable:hover+.dis-mes {
    opacity: 1;
}




@keyframes shakeAnimation {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(0px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(2px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(2px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.shake {
    animation-name: shakeAnimation;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes redAlarm {
    0% {
        opacity: 0;
    }

    10% {
        opacity: .1;
    }

    20% {
        opacity: .3;
    }

    30% {
        opacity: .4;
    }

    40% {
        opacity: .5;
    }

    50% {
        opacity: .6;
    }

    60% {
        opacity: .5;
    }

    70% {
        opacity: .4;
    }

    80% {
        opacity: .3;
    }

    90% {
        opacity: .2;
    }

    100% {
        opacity: .0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: rotateY(90deg);
    }

    50% {
        opacity: 0.5;
        transform: rotateY(0deg);
    }

    100% {
        display: none;
        opacity: 0;
        transform: rotateY(90deg);
    }
}


.code-red-light {
    animation-name: redAlarm;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
    background-color: #AE0001;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.code-red-light h1 {
    font-size: 4em;
    color: whitesmoke;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
}