* {
    margin: 0;
    padding: 0;
    font-family: 'Asap Condensed', sans-serif;
    box-sizing: border-box;
}

body>h1 {
    margin: 1em 0 1em 0;
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
}

main {
    display: grid;
    justify-items: center;
}

ul {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    text-align: center;

}

li {
    margin: 2em 1em 2em 1em;
    padding: 4em;
    box-shadow: 0 1rem 2.8rem 0 rgba(0, 0, 0, .15);
    border-radius: 1rem;
    cursor: pointer;
}

li>h1 {
    font-weight: 600;
    margin: 0 0 .2em 0;
}

li>h2 {
    font-weight: 400;
}

.fa-user,
.fa-home {
    font-size: 90% !important;
}

select {
    position: relative;
    display: inline;
    margin-right: 2vw;

}



.sorting {
    cursor: pointer;
}


.overlay {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -10;

}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 70vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hufflepuff {
    background-color: #38302c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='144' height='144' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23eeb527' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23eeb527' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.gryffindor {
    background-color: #740001;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='144' height='144' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23eeba30' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23eeba30' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.hufflepuff h1,
.hufflepuff h2 {
    color: #372e29;
}

.image {
    position: absolute;
    top: 2vw;
    width: 90%;
    height: 65%;
    background: url(https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position: center;
    margin-bottom: 1vw;
    background-repeat: no-repeat;
}

.top {
    width: 90%;
    display: grid;
    justify-items: left;
    font-size: 1.5em;
}

.hufflepuff .bottom {
    position: relative;
    bottom: -15vw;
    left: 0;
    background: linear-gradient(65deg, #f0c75e, #ecb939);
    width: 100%;
    height: 25%;
    padding: 2vw 0 2vw 2vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.gryffindor .bottom {
    position: relative;
    bottom: -15vw;
    left: 0;
    background: linear-gradient(65deg, #AE0001, #740001);
    color: #eeba30;
    width: 100%;
    height: 25%;
    padding: 2vw 0 2vw 2vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.bottom img {
    position: relative;
    bottom: 7vw;
    left: 0;
    width: 100%;
    max-width: 180px;
}


.blur {
    filter: blur(10px);
    z-index: -100;

}

.hide {
    display: none;
}